[submodule "mavrosInterfaces"]
	path = mavrosInterfaces
	url = git@github.com:AscendNTNU/mavrosInterfaces.git
[submodule "autonomyAlgos"]
	path = autonomyAlgos
	url = git@github.com:AscendNTNU/autonomyAlgos.git
[submodule "tf2"]
	path = tf2
	url = git@github.com:AscendNTNU/tf2.git
